@charset "UTF-8";
.container header {
    background-color: #454545;
    color: #FFFFFF;
}
header a .logo {
    color: #FFFFFF;
}
.container header nav {
    background-color: #454545;
}
.container #hero {
    background-image: url(DSC_9649_2%20copy.jpg);
}
.container .banner {
    background-image: url(images/Civetta.jpg);
}
